[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
Flask = ">=2.1.1,<3"
PyYAML = ">=5.4.1,<7"
backoff = ">=1.10.0,<3"
bcrypt = ">=3.2.0,<5"
boto3 = ">=1.26.99,<2"
botocore = ">=1.29.99,<2"
gevent = ">=22.10.2,<23"
greenlet = ">=2.0.1,<3"
gunicorn = ">=19.10.0"
hiredis = ">=1.0.0,<3"  # Grants a performance improvement to redis
jsonschema = ">=3.0.1,<4"
mako = ">=1.2.2,<2"
numpy = ">=1.22.4,<1.23"
pg8000 = ">=1.15.2,<2"
protobuf = ">=3.19.6,<3.20"
pytz = ">=2023.2"
qmcpy = ">=1.2,<2"
redis = ">=4.5.4,<5"
scikit-learn = ">=1.1.1,<2"
scipy = ">=1.10.1,<2"
sqlalchemy = {version = ">=1.3.23,<1.4", extras = ["postgresql_pg8000"]}
sigopt-config = {ref = "v2.0.0", git = "https://github.com/sigopt/sigopt-config.git"}
libsigopt = {ref = "main", git = "https://github.com/sigopt/libsigopt"}

[dev-packages]
aiosmtpd = "==1.4.2"
build = "==0.10.0"
debugpy = "==1.6.7"
flaky = "==3.7.0"
freezegun = "==1.2.1"
flasgger = {ref = "c9c08f752a0cb3e015ee837005cbb000aa13b8ae", git = "https://github.com/sigopt/flasgger.git"}
sigopt = {ref = "main", git = "https://github.com/sigopt/sigopt-python.git"}
html5-parser = "==0.4.4"
inotify = {version = ">=0.2.10,<0.3", sys_platform = "== 'linux'"}
ipython = "==8.12.0"
lxml = "==4.9.1"
mock = "==2.0.0"
networkx = "==3.0"
playwright = "==1.31.1"
pre-commit = "==3.2.1"
pylint = "==2.15.5"
pytest = "==7.2.2"
pytest-mock = "==3.10.0"
pytest-repeat = "==0.9.1"
selenium = "==4.3.0"
twine = "==4.0.2"
vulture = "==2.7"
mypy-protobuf = "*"
pylint-protobuf = "*"
