[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
Flask = ">=2.3.2,<2.4"
PyYAML = ">=5.4.1,<7"
backoff = ">=1.10.0,<3"
bcrypt = ">=3.2.0,<5"
boto3 = ">=1.26.99,<2"
botocore = ">=1.29.99,<2"
gevent = ">=22.10.2,<23"
greenlet = ">=2.0.1,<3"
gunicorn = ">=19.10.0"
hiredis = ">=1.0.0,<3"  # Grants a performance improvement to redis
jsonschema = ">=3.0.1,<4"
mako = ">=1.2.2,<2"
numpy = ">=1.22.4,<1.23"
pg8000 = ">=1.15.2,<2"
protobuf = ">=4.23.3,<4.24"
pytz = ">=2023.2"
qmcpy = ">=1.2,<2"
redis = ">=4.5.4,<5"
scikit-learn = ">=1.1.1,<2"
scipy = ">=1.10.1,<2"
sqlalchemy = {version = ">=1.3.23,<1.4", extras = ["postgresql_pg8000"]}
sigopt-config = {ref = "v2.0.0", git = "https://github.com/sigopt/sigopt-config.git"}
libsigopt = {ref = "main", git = "https://github.com/sigopt/libsigopt"}
deal = ">=4.24.1,<5"

[dev-packages]
aiosmtpd = "==1.4.4.post2"
build = "==0.10.0"
debugpy = "==1.6.7"
flaky = "==3.7.0"
freezegun = "==1.2.2"
flasgger = {ref = "8626429a9f5f05bd62fc8d47e0b851f5788c9adf", git = "https://github.com/sigopt/flasgger.git"}
sigopt = {ref = "main", git = "https://github.com/sigopt/sigopt-python.git"}
html5-parser = "==0.4.11"
inotify = {version = ">=0.2.10,<0.3", sys_platform = "== 'linux'"}
ipython = "==8.14.0"
lxml = "==4.9.2"
mock = "==5.0.2"
playwright = "==1.35.0"
pre-commit = "==3.3.3"
pylint = "==2.17.4"
pytest = "==7.4.0"
pytest-mock = "==3.11.1"
pytest-repeat = "==0.9.1"
selenium = "==4.9.1"
twine = "==4.0.2"
vulture = "==2.7"
mypy-protobuf = ">=3.4.0,<4"
crosshair-tool = "*"
mypy = "*"
types-mock = "*"
types-protobuf = "<4.24"
types-pytz = "*"
types-pyyaml = "*"
types-redis = "*"
types-requests = "*"
